body {
  background-color: rgb(240, 240, 232);
}

.carousel {
  position: relative;
  width: 80%;
  height: 500px;
  margin: auto;

  border: 2px solid lightgray;
  border-radius: 20px 0px 0px 20px;

  overflow: hidden;
}
#container-img {
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#back {
  position: absolute;
  top: 90%;
  left: 90%;
}
#next {
  position: absolute;
  top: 5%;
  left: 90%;
}

.active {
  display: flex !important;
  align-items: center;
  position: absolute;
  height: 100%;
}
#next:hover,
#back:hover {
  transform: scale(1.5);
}
