body {
  background-color: rgb(240, 240, 232);
}

#container-img {
  width: 1050px;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#back {
  position: absolute;
  top: 90%;
  left: 90%;
}
#next {
  position: absolute;
  top: 5%;
  left: 90%;
}

.active {
  border-radius: 20px 0px 0px 20px;
  overflow: hidden;
  display: flex !important;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.text {
  position: absolute;
  bottom: 20%;
  border-radius: 10px;
  font-weight: 500;
  background-color: rgba(240, 248, 255, 0.489);
  border: 1px solid black;
  box-shadow: 5px 5px 2px 2px#00000065;
}

#container-thumb {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 0px 20px 20px 0px;
}

.container-sm {
  position: relative;
  width: 1250px;
  display: flex;
}
